<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Crud Spring Boot</title>

</head>
<body>
		
<div class="container">

	<center><h5>Catalogo Estudiantes</h5></center>

	   <form class="col s12"  th:action="@{/}" th:object="${FormEstudiante}"  method="post">
		   <div class="row">
		  
		   <div class="input-field col s6">
		   	<label for="nombres">Nombres</label> 
		    <input type="text" id="nombres" th:field="*{nombres}">
		   </div>
		   <div class="input-field col s6">
		    <label for="apellidos">Apellidos</label> 
		    <input type="text" id="apellidos" th:field="*{apellidos}">
		   </div>
		   <div class="input-field col s6">
		    <label for="fechaNacimiento">Fecha Nacimiento</label> 
		    <input type="text" id="fechaNacimiento" th:field="*{fechaNacimiento}">
		   </div>
		   <div class="input-field col s6">
		    <label for="direccion">Direccion</label> 
		    <input type="text" id="direccion" th:field="*{direccion}">
		    </div>
		    
		   </div>
		<button class="btn waves-effect waves-light" type="submit">Ingresar</button>
		  
	   </form>
	   		
	   <br><br>
	      
	   <table class="responsive-table">
        <thead>
          <tr>
              <th data-field="nombres">Nombres</th>
              <th data-field="apellidos">Apellidos</th>
              <th data-field="fecha_nacimiento">Fecha Nacimientos</th>
              <th data-field="direccion">Direccion</th>
              <th data-field="eliminar">Eliminar</th>
              <th data-field="editar">Editar</th> 
          </tr>
        </thead>
        <tbody>
          <th:block th:each="fila : ${ListaEstudiante}">
          	  <tr>
	  		  <td th:text=${fila.Nombres}></td>
	  		  <td th:text=${fila.Apellidos}></td>
	  		  <td th:text=${fila.FechaNacimiento}></td>
	  		  <td th:text=${fila.Direccion}></td>
	  		  <td><a th:href="@{'/eliminar/'+${fila.id}}" onclick="return confirm('Quiere Borrar?')"><i class="tiny material-icons red-text text-darken-1">delete</i></a>Borrar</td>	
	  		  <td><a th:href="@{'/editar/'+${fila.id}}"><i class="tiny material-icons green-text text-darken-1">save</i></a>Editar</td>	
	  		  </tr>
	      </th:block>  
        </tbody>
      </table>
            
	      
	   		
</div>				
		
</body>
</html>